/* Import Custom Fonts */
@font-face {
  font-family: 'Andora Modern Serif';
  src: url('../assets/fonts/Andora Modern Serif.otf') format('opentype');
}

@font-face {
  font-family: 'Andora Modern Script';
  src: url('../assets/fonts/Andora Modern Script.otf') format('opentype');
}

/* Hero Section Styling */
.hero {
  background-color: #000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 0rem;
  min-height: 75vh;
  overflow: hidden;
}

/* Hero Video Styling */
.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: auto;
  object-fit: cover;
  z-index: 1;
  opacity: 0.8;
  border-radius: 20px;
}

/* Hero Content */
.hero-content {
  text-align: center;
  font-family: 'Arial', sans-serif;
  z-index: 5;
  position: relative;
}

/* Hero Heading (H1) */
.hero-content h1 {
  font-size: 5rem;
  margin-bottom: 0rem;
  font-family: 'Andora Modern Serif', serif;
  display: inline-block;
  white-space: nowrap;
}

/* Hero Paragraph (P) */
.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.6;
  font-family: 'Andora Modern Serif', serif;
}

/* Animation for Individual Header Letters */
.header-letter {
  display: inline-block;
  opacity: 0;
  transform: translateY(50px);
  animation: raiseFadeIn 1.5s ease-out forwards;
}

/* Animation for Paragraph (fade in and rise together) */
.animate-para {
  opacity: 0;
  transform: translateY(50px);
  animation: raiseFadeIn 1s ease-out 1s forwards;
}

/* Keyframes for Fade-in Effect */
@keyframes raiseFadeIn {
  0% {
      opacity: 0;
      transform: translateY(50px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Mute/Unmute Button */
.mute-button {
  position: absolute;
  bottom: 75px;
  right: 95px;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 12px;
  font-size: 0.8rem;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  line-height: 1;
}

/* Mute Button Hover Effect */
.mute-button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
